@import "config";

.about-container {
  position: relative;
  overflow: hidden;
}

.about-container #particle,
.experiment {
  position: absolute;
}

.experiment {
  position: relative;
  margin: 4rem 5vw;

  .pic {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    float: left;
  }
}

.bio {
  margin: 0 auto;

  @include center(row, center, space-around);

  .profile {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 1rem 1rem;
  }

  h3 {
    @include text(1.5vw);

    padding: 1rem;
    margin: 0 5vw;
    color: $bg-color;
    background-color: transparent;
  }
}
