@import "config";

//typewriting animation

.typewriter-container {
  height: 50vw;
}

.let-highlight {
  color: rgb(95, 121, 191);
}

.string-highlight {
  color: rgb(212, 31, 248);
}

#typewriter {
  font-size: 3vw;
  margin: 0;
  font-weight: 900;
  font-family: monospace, "Courier New";
  color: white;
}

.caret::after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
