$text-color: rgb(151, 151, 151);
$bg-color: #474747;
$dark-bg :rgb(0, 0, 0);

html {
  scroll-behavior: smooth;
}

@mixin center($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin text ($size){
  font-size: $size;
  color: $text-color;
  font-family: monospace;
}

h2 {
  color: $bg-color;
  text-shadow: 1px 1px rgb(206, 206, 206);
}

.neumorphism {
  border-radius: 21px;
  background: linear-gradient(225deg, #4c4c4c, #404040);
  box-shadow:
    -9px 9px 17px #363636,
    9px -9px 17px #585858;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
  overflow-x: hidden;
}

body {
  background-color: $bg-color;
}

strong {
  // color: rgb(192, 192, 192);
  color: $dark-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  top:0;
}
.navbar {
  background-color: $dark-bg;
  display: flex;
  justify-content: flex-end;
  font-family: monospace, "Courier New";
  color: $text-color;  

  :first-child {
    justify-content: flex-start;
    margin-right: auto;
  }

  .nav-item {
    padding: 1rem;

    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}



.footer {
  position: fixed;
  bottom:0;
  z-index: 1;
  background-color: $dark-bg;
  width: 100%;
  height: 4vw;
  color: $text-color;
  @include center(center, center,space-around);
  
  .footer-icon {
    text-align: center;
    font-size: 1rem;
  }
}