$text-color: rgb(151, 151, 151);
$bg-color: #474747;
$dark-bg :rgb(0, 0, 0);

@mixin center($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

h2 {
  color: $bg-color;
  text-shadow: 1px 1px rgb(206, 206, 206);
}

.neumorphism {
  border-radius: 21px;
  background: linear-gradient(225deg, #4c4c4c, #404040);
  box-shadow:
    -9px 9px 17px #363636,
    9px -9px 17px #585858;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
  overflow-x: hidden;
}

body {
  background-color: $bg-color;
}

strong {
  color: rgb(192, 192, 192);
}
