@import "config";

* {
  overflow: hidden;
}

.experiment {
  position: absolute;
  top: 20%;
  margin: 0 5vw;

  .pic {
    width: 100%;
    height: auto;
    margin: 0 auto;

    img {
      margin: 0 auto;
      width: 100%;
      height: auto;
      border-radius: 25px;
      float: left;
    }
  }

  .bio {
    margin: 0 auto;

    @include center(row, center, space-around);

    .profile {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      margin: 0 1rem;
    }

    h3 {
      @include text(1.5vw);

      margin: 5vw 5vw;
      color: white;
      background-color: transparent;
    }
  }
}
