@import "config";

* {
  // background-color: $dark-bg;
}

//typewriting animation

.contact-container {
  position: relative;
}

.contact-container .typewriter-container {
  position: absolute;
}

.typewriter-container {
  height: 100%;
  position: absolute;
  top: 15%;
}

.let-highlight {
  color: rgb(95, 121, 191);
}

.string-highlight {
  color: rgb(212, 31, 248);
}

#typewriter {
  font-size: 3.5vw;
  margin: 0;
  font-weight: 900;
  font-family: monospace, "Courier New";
  color: white;
}

.caret::after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
